iframe{
    margin: 10px;
    border-radius: 25px;
}

div{
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
    border:20px solid #000;
    
}

body{
    background-image:url("img/wood.png");

}
.emailform{
    background-color: red;
}

#sendbutton {
    width: 200px;
    height: 50px;
}

#ad1 {
    width: 200px;
    height: 50px;
    margin-right: 100px;
}